@model Book

<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="width: 49%">
    <a href="/BookDescription/BookDescription?id=@Model.Id" class="stretched-link">
        <div class="col p-4 d-flex flex-column position-static">
            <svg viewBox="0 0 16 16" class="bi bi-journal-bookmark-fill book-icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"></path>
                <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"></path>
                <path fill-rule="evenodd" d="M6 1h6v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8V1z"></path>
            </svg>
            <strong class="d-inline-block mb-2 text-primary">@Model.Name</strong>
            <h3 class="mb-0">ISBN: @Model.ISBN</h3>
            <div class="mb-1 text-muted">@Model.Year</div>
            <p>Compleated: @Model.ReadingPersent.ToString("F4")%</p>
            <p style="background-color: green; width: @Model.ReadingPersent.ToString("F0")%; height: 3px; min-width: 3px"></p>
        </div>
    </a>
    <div class="col-auto d-none d-lg-block">
        <img class="bd-placeholder-img" style="max-width: 250px; height: 250px;" src="@Model.TitleImg" />
    </div>
</div>


